<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container" style="margin: 100px auto; max-width: 1000px; width: 100%">
    <h1>Weather app</h1>

    <ul class="list-group">Dane pogodowe:
    <li class="list-group-item" th:text="|Miasto: ${weatherData.name}|"></li>
    <li class="list-group-item" th:text="|Temperatura maksymalna: ${weatherData.main.maxTemperature} °C|"></li>
    <li class="list-group-item" th:text="|Temperatura minimalna: ${weatherData.main.minTemperature} °C|"></li>
    <li class="list-group-item" th:text="|Średnia Temperatura: ${weatherData.main.temp} °C|"></li>
    <li class="list-group-item" th:text="|Odczuwalna Temperatura: ${weatherData.main.feelsLike} °C|"></li>
    <li class="list-group-item" th:text="|Wilogtność: ${weatherData.main.humidity} %|"></li>
    <li class="list-group-item" th:text="|Ciśnienie: ${weatherData.main.pressure} hPa|"></li>
    <li class="list-group-item" th:text="|Prędkość wiatru: ${weatherData.wind.speed} m/s|"></li>
    </ul>

    <a href="/">
        <button>Powrót na stronę główną</button>
    </a>
</div>
</body>
</html>